body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  color: #C3C5C6
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 150px;
  grid-template-areas: "skate bmx e-sports moto";
  align-items: center;
}

.center {
  text-align: center;
  width:414px;
  height: 736px;
  border: 2px black solid;
}

.confirmation {
  display: none;
}

.label{
  display: block;
}

h1, h4 {
  color: #2b2c2c
}

